<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--  PreProcessor  -->
    <bean id="preProcessorToLower" class="edu.school21.classes.PreProcessorToLowerImpl" />
    <bean id="preProcessorToUpper" class="edu.school21.classes.PreProcessorToUpperImpl"/>

    <!--  Renderer  -->
    <bean id="rendererErrToLower" class="edu.school21.classes.RendererErrImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="rendererErrToUpper" class="edu.school21.classes.RendererErrImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>
    <bean id="rendererOutToLower" class="edu.school21.classes.RendererStandardImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="rendererOutToUpper" class="edu.school21.classes.RendererStandardImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <!--  Printer  -->
    <bean id="printerWithPrefix" class="edu.school21.classes.PrinterWithPrefixImpl">
        <constructor-arg ref="rendererErrToUpper"/>
        <property name="prefix" value="PREFIX"/>
    </bean>

</beans>